@using Tracking.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Activity Tracking Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <div class="row">
                        <h2 style="color:gray;">Leadership Hours Tracking</h2>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h4>@Html.MenuItem("Tracking", "Index", "Students")</h4>
                        </div>
                        <div class="col-md-4">
                            <h4>@Html.MenuItem("Export", "Index", "Students")</h4>
                        </div>
                        <div class="col-md-4">
                            <h4>@Html.MenuItem("Import", "Index", "Students")</h4>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    </br>
    </br>
    </br>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ActivityTracking Application</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
